.vote-up svg {
    position: relative;
    bottom: 0px;
}

.vote-up:hover svg {
    bottom: 5px;
    transition: bottom .2s;
}

.vote-down svg {
    position: relative;
    top: 4px;
}

.vote-down:hover svg {
    top: 9px;
    transition: top .2s;
}

.vote-section .vote {
    opacity: 100%;
}

.vote-section__voted .vote {
    opacity: 0%;
    transition: opacity .1s;
}

.vote-section__voted .vote__voted {
    opacity: 100%;
}